In [1]:
# import pandas module
import pandas as pd
 
# making dataframe
df = pd.read_csv("nba.csv")
 
# it was print the first 5-rows
print(df.head())

            Name            Team  Number Position   Age Height  Weight  \
0  Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
1    Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0
2   John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0
3    R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5   185.0
4  Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0

             College     Salary
0              Texas  7730337.0
1          Marquette  6796117.0
2  Boston University        NaN
3      Georgia State  1148640.0
4                NaN  5000000.0

In [3]:
df_stacked = df.stack()
 
print(df_stacked.head(60))

0  Name            Avery Bradley
   Team           Boston Celtics
   Number                    0.0
   Position                   PG
   Age                      25.0
   Height                    6-2
   Weight                  180.0
   College                 Texas
   Salary              7730337.0
1  Name              Jae Crowder
   Team           Boston Celtics
   Number                   99.0
   Position                   SF
   Age                      25.0
   Height                    6-6
   Weight                  235.0
   College             Marquette
   Salary              6796117.0
2  Name             John Holland
   Team           Boston Celtics
   Number                   30.0
   Position                   SG
   Age                      27.0
   Height                    6-5
   Weight                  205.0
   College     Boston University
3  Name              R.J. Hunter
   Team           Boston Celtics
   Number                   28.0
   Position                   SG
   Age                      22.0
   Height                    6-5
   Weight                  185.0
   College         Georgia State
   Salary              1148640.0
4  Name            Jonas Jerebko
   Team           Boston Celtics
   Number                    8.0
   Position                   PF
   Age                      29.0
   Height                   6-10
   Weight                  231.0
   Salary              5000000.0
5  Name             Amir Johnson
   Team           Boston Celtics
   Number                   90.0
   Position                   PF
   Age                      29.0
   Height                    6-9
   Weight                  240.0
   Salary             12000000.0
6  Name            Jordan Mickey
   Team           Boston Celtics
   Number                   55.0
   Position                   PF
   Age                      21.0
   Height                    6-8
   Weight                  235.0
   College                   LSU
   Salary              1170960.0
dtype: object

In [4]:
df_unstacked = df_stacked.unstack()
print(df_unstacked.head(10))

            Name            Team Number Position   Age Height Weight  \
0  Avery Bradley  Boston Celtics    0.0       PG  25.0    6-2  180.0
1    Jae Crowder  Boston Celtics   99.0       SF  25.0    6-6  235.0
2   John Holland  Boston Celtics   30.0       SG  27.0    6-5  205.0
3    R.J. Hunter  Boston Celtics   28.0       SG  22.0    6-5  185.0
4  Jonas Jerebko  Boston Celtics    8.0       PF  29.0   6-10  231.0
5   Amir Johnson  Boston Celtics   90.0       PF  29.0    6-9  240.0
6  Jordan Mickey  Boston Celtics   55.0       PF  21.0    6-8  235.0
7   Kelly Olynyk  Boston Celtics   41.0        C  25.0    7-0  238.0
8   Terry Rozier  Boston Celtics   12.0       PG  22.0    6-2  190.0
9   Marcus Smart  Boston Celtics   36.0       PG  22.0    6-4  220.0

             College      Salary
0              Texas   7730337.0
1          Marquette   6796117.0
2  Boston University         NaN
3      Georgia State   1148640.0
4                NaN   5000000.0
5                NaN  12000000.0
6                LSU   1170960.0
7            Gonzaga   2165160.0
8         Louisville   1824360.0
9     Oklahoma State   3431040.0

In [1]:
import pandas as pd
import numpy as np

arrays = [
    ["bar", "bar", "baz", "baz", "foo", "foo", "qux", "qux"],
    ["one", "two", "one", "two", "one", "two", "one", "two"],
]
tuples = list(zip(*arrays))

index = pd.MultiIndex.from_tuples(tuples, names=["first", "second"])
index

MultiIndex([('bar', 'one'),
            ('bar', 'two'),
            ('baz', 'one'),
            ('baz', 'two'),
            ('foo', 'one'),
            ('foo', 'two'),
            ('qux', 'one'),
            ('qux', 'two')],
           names=['first', 'second'])

In [2]:
df = pd.DataFrame(np.random.randn(3, 8), index=["A", "B", "C"], columns=index)
df

first        bar                 baz                 foo                 qux  \
second       one       two       one       two       one       two       one
A      -1.634544 -1.039303  0.677136  0.206647  0.007873  0.704758  1.237410
B       2.082327 -0.642428 -1.169465  1.673104  0.281997  0.779426 -0.758985
C       1.477555 -1.926313 -0.466147  0.095926 -1.032692  1.361488  1.315921

first
second       two
A       0.303421
B      -0.073487
C       2.509351

In [4]:
pd.DataFrame(np.random.randn(8, 8), index=index[:8], columns=index[:8])

first              bar                 baz                 foo            \
second             one       two       one       two       one       two
first second
bar   one     0.581166  0.051914  2.389955  0.295477  1.645038  2.050172
      two     0.515096  0.216536  0.469563 -0.080857  1.639907  0.579281
baz   one     0.606757  0.131321  0.334173  1.341372 -0.358310  0.860517
      two    -2.058501  0.759562  0.935714 -0.272063 -0.501795  1.093759
foo   one     0.650097  1.149707 -2.177619 -0.406669  0.224166 -0.606741
      two    -0.849544  1.694830  0.826757  0.570868  0.860251 -0.104716
qux   one    -0.280212  0.813024 -1.049146 -0.960861  0.409641  0.170124
      two    -0.363352 -1.198702  1.381743  1.067530 -0.138940  0.054468

first              qux
second             one       two
first second
bar   one    -0.931434  0.561375
      two    -0.953062 -1.207247
baz   one    -0.846239  0.682150
      two     0.563357 -0.082282
foo   one     1.099858 -0.055095
      two     0.577556 -0.776571
qux   one    -1.635996  1.030298
      two     0.604322  0.311117

In [5]:
index.get_level_values(0)

Index(['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux'], dtype='object', name='first')

In [7]:
index.get_level_values(1)

Index(['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two'], dtype='object', name='second')

In [8]:
index.get_level_values(2)

IndexError: Too many levels: Index has only 2 levels, not 3

In [6]:
index.get_level_values("second")

Index(['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two'], dtype='object', name='second')